<!DOCTYPE html>
<html>
<head>
	<title>Sesión</title>
	<meta charset="utf-8">
	<link rel='stylesheet' type='text/css' href='../styles/stil.css'/>
</head>
<body>
	<form method="POST" action="../programs/php/form.php">
		<fieldset class="cuadro">
			<legend>Introduzca su nombre de usuario</legend>
			<label class="Nombre">Nombre</label><br/>
			<input type="text" name="usuario" size="20" maxlength="20" placeholder="Usuario"/><br/>
			<input type="hidden" name="forma" value="1"/>
			<input type="submit" value="Iniciar"/><br/>
			<input type="reset" value="Borrar Datos"/>
		</fieldset>
	</form>
</body>
</html>